<%= form_for(@employee,html:{class: 'form-horizontal',:multipart => true}) do |f| %>
<% if @employee.errors.any? %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h4>
  <ul>
    <% @employee.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="control-group">
  <%= f.label :name, class: 'control-label'%>
  <div class="controls">
    <%= f.text_field :name ,:placeholder=>'Nombre'%>
  </div>
</div>
<div class="control-group">
  <%= f.label :lastname, class: 'control-label'%>
  <div class="controls">
    <%= f.text_field :lastname,:placeholder=>'Apellido' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :email, class: 'control-label'%>
  <div class="controls">
    <%= f.email_field :email,:placeholder=>'Email'%>
  </div>
</div>
<div class="control-group">
  <%= f.label :company, class: 'control-label'%>
  <div class="controls">
    <%= f.select :company_id, Company.all.collect {|p| [ p.name, p.id ] }, { include_blank: '-- Seleccione Empresa--' } %>
  </div>
</div>
<div class="control-group">
  <%= f.label :country, class: 'control-label'%>
  <div class="controls">
    <%= f.select :country_id, Country.all.collect {|p| [ p.name_country, p.id ] }, { include_blank: '-- Seleccione Pais' }%>
  </div>
</div>
<div class="control-group">
  <%= f.label :photo, class: 'control-label'%>
  <div class="controls">
    <%= f.file_field :photo %>
  </div>
</div>
<div class="controls">
  <%= f.submit class: 'btn btn-primary' %>
</div>  
<% end %>
