<%= link_to 'New Employee', new_employee_path, :class=>'btn btn-primary pull-right' %>
<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Company</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%=image_tag(employee.photo.profile)%></td>
        <td><%= employee.name %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.email %></td>
        <td><%= employee.company.name %></td>
        <td><%= employee.country.name_country %></td>
        <td><%= link_to 'Show', employee, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @employees,class: 'digg_pagination'%>

