<div class="span12">
<%= link_to 'Nuevo empleado', new_employee_path, :class=>'btn btn-primary pull-right '%><br><br>
<table class="table table-bordered table-condensed table-hover" id="table_empleados">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Segundo nombre</th>
      <th>Email</th>
      <th>Empresa</th>
      <th>País</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%=image_tag(employee.photo.profile)%></td>
        <td><%= employee.name %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.email %></td>
        <td><%= employee.company.name %></td>
        <td><%= employee.country.name_country %></td>
        <td><%= link_to "<i class='icon-zoom-in icon-white'></i>".html_safe, employee, class: 'btn btn-info' %></td>
        <td><%= link_to "<i class='icon-edit icon-white'></i>".html_safe, edit_employee_path(employee), class: 'btn btn-success' %></td>
        <td><%= link_to "<i class='icon-trash icon-white'></i>".html_safe, employee, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#table_empleados').dataTable();
  });
</script>
</table>
</div>

