<h1>Listing parlos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name parlo</th>
      <th>Status</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parlos.each do |parlo| %>
      <tr>
        <td><%= parlo.name_parlo %></td>
        <td><%= parlo.status %></td>
        <td><%= parlo.country.name_country %></td>
        <td><%= link_to 'Show', parlo %></td>
        <td><%= link_to 'Edit', edit_parlo_path(parlo) %></td>
        <td><%= link_to 'Destroy', parlo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parlo', new_parlo_path %>
