<style type="text/css">
  #example_length{
    float: left;
  }
  #example_filter{
    margin-left: 79%;
  }

  #example_paginate {
    background: white;
    cursor: default;
    /* self-clearing method: */ }
    #example_paginate a, #example_paginate span, #example_paginate em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    #example_paginate .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    #example_paginate .current {
      font-style: normal;
      font-weight: bold;
      background: #2e6ab1;
      color: white;
      border: 1px solid #2e6ab1; }
    #example_paginate a {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5; }
      #example_paginate a:hover, #example_paginate a:focus {
        color: #000033;
        border-color: #000033; }
    #example_paginate .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      #example_paginate .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    #example_paginate:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #example_paginate {
      height: 1%; }
    *:first-child + html #example_paginate {
      overflow: hidden; }

      #example_info{
        color: #105cb6;
        display: inline-block;
      }
      #example_paginate{
        float: right;
         
      }

</style>
<h1>Listing parlos</h1>
<table class="table table-bordered table-condensed" id="example">
  <thead>
    <tr>
      <th>Name parlo</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @parlos.each do |parlo| %>
      <tr>
        <td><%= parlo.name_parlo %></td>
        <td><%= parlo.country.name_country %></td>
        <td><%= link_to 'Show', parlo, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_parlo_path(parlo),class: 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', parlo, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Parlo', '', class: 'btn btn-primary', id: 'new_parlo' %>
<div id="modal_new_parlo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Parlo</h3>
  </div>
  <div class="modal-body">
    <%=render 'form'%>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $('#example').dataTable();

      $('#new_parlo').on('click',function(e){
        e.preventDefault();
          $('#modal_new_parlo').modal('show');
      });
  });
</script>