<%= form_for(@admin,:url=>admins_path,html:{class: "form-horizontal"}) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>
      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name ,class: "control-label"%>
    <div class="controls">
    <%= f.text_field :name ,required: :true%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastname ,class: "control-label"%>
    <div class="controls">
    <%= f.text_field :lastname,required: :true %>
    </div>
  </div>
  <div class="control-group">
    <%=f.label :email, class: "control-label"%>
    <div class="controls">
    <%=f.email_field :email,required: :true%>
    </div>
  </div>
  <div class="control-group">
    <%=f.label :password, class: "control-label"%>
    <div class="controls">
    <%=f.password_field :password,required: :true%>
    </div>
  </div>
  <div class="control-group">
    <%=f.label :password_confirmation, class: "control-label"%>
    <div class="controls">
    <%=f.password_field :password_confirmation,required: :true%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :admin_type ,class: "control-label"%>
    <div class="controls">
    <%= f.select(:admin_type, options_for_select(TYPE_ADMIN), { include_blank: true },required: :true) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country,class: "control-label" %>
    <div class="controls">
    <%= f.select(:country_id, Country.all.collect {|p| [ p.name_country, p.id ] }, { include_blank: true },required: :true) %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <%= f.submit 'Nuevo',class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
