<div class="span12">
<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>
<p>
  <strong>Lastname:</strong>
  <%= @admin.lastname %>
</p>
<p>
  <strong>Type:</strong>
  <%= @admin.admin_type %>
</p>
<p>
  <strong>Country:</strong>
  <%= @admin.country.name_country %>
</p>
<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
</div>
