<div class="span12">
  <h1>Sistema control salitas</h1>
<div class="row">
  <div class="span12">
  <ul class="thumbnails">
  <%@parlos.each do |parlo|%>
  <%if parlo.reservations.blank?%>
  <li class="span4 text-center">
    <a href="#" id="modal_views_reservations_<%=parlo.id%>" class="thumbnail btn btn-success">
      <span class="badge badge-success pull-right"><%=parlo.reservations.size%></span>
      <h4><%=parlo.name_parlo%></h4>
    </a>
  </li>
  <%elsif parlo.reservations%>
      <%ocupada="btn btn-danger"%>
    <%reservasions=Reservation.includes(:parlo).where("parlos.id=?",parlo.id).references(:parlo).limit(2)%>
  <li class="span4 text-center toltip_info" data-original-title="<%reservasions.each do |user|%><%=user.employee.name%>>>>><%=user.end_time.strftime('%H:%M')%><%end%>">
    <%=link_to show_reservations_for_parlo_path(parlo),class: "thumbnail #{ocupada}" do%>
    <span href="#" id="modal_views_reservations_<%=parlo.id%>" class="pull-left"><i class="icon-plus"></i></span><span class="badge badge-important pull-right"><%=parlo.reservations.size%></span>
    <h4><%=parlo.name_parlo%></h4>
    <%end%>
  </li>
  <%end%>
  <!-- MODAL FORMULARIO RESERVACIONES -->
  <div id="modal_reservation_parlo_<%=parlo.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= form_for(@reservation_parlo,html:{class: 'form-horizontal'},:url=>welcome_create_reservation_path,method: "POST") do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Reservatios <%=parlo.name_parlo%></h3>
    </div>
    <div class="modal-body">
      <%=f.hidden_field :parlo_id,value: parlo.id%>
      <div class="control-group">
        <%= f.label :employee,class: 'control-label' %>
        <div class="controls">
          <%if current_admin.admin_type==1%>
          <%= f.select(:employee_id, Employee.all.collect {|p| [ p.name+' '+p.lastname, p.id ] }, { include_blank: true },id: "chosen-select_#{parlo.id}",required: "true")%>
          <%else%>
          <%= f.select(:employee_id, Employee.where("country_id=?",current_admin.country_id).collect {|p| [ p.name+' '+p.lastname, p.id ] }, { include_blank: true },id: "chosen-select_#{parlo.id}",required: "true")%>
          <%end%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :status,class: 'control-label' %>
        <div class="controls">
          <%= f.number_field :status ,style: "width:237px;",required: "true"%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :date_reservation,class: 'control-label' %>
        <div class="controls">
          <div id="datetimepicker_<%=parlo.id%>" class="input-append">
              <%=f.text_field :date_reservation,data:{format: "dd-MM-yyyy"},class: "input-large",required: "true"%>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
              </span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :start_time,class: 'control-label' %>
        <div class="controls">
          <div id="start_time_<%=parlo.id%>" class="input-append">
              <%=f.text_field :start_time,data:{format: "HH:mm PP"},class: "input-large",required: "true"%>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
              </span>
            </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :end_time,class: 'control-label' %>
        <div class="controls">
          <div id="end_time_<%=parlo.id%>" class="input-append">
              <%=f.text_field :end_time,data:{format: "HH:mm PP"},class: "input-large",required: "true"%>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
              </span>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Save Shanges',class: "btn btn-primary" %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
    <% end %>
  </div>
  <!-- FIN MODAL FORMULARIO RESERVACIONES -->
  <script type="text/javascript">
  $('#modal_views_reservations_<%=parlo.id%>').on('click',function(e){
    e.preventDefault();
    $('#modal_reservation_parlo_<%=parlo.id%>').modal('show');
  });
   $(function() {
    $('#datetimepicker_<%=parlo.id%>').datetimepicker({
      pickTime: false
    });
  });
    $(function() {
      $('#start_time_<%=parlo.id%>').datetimepicker({
        pickDate: false,
        pick12HourFormat: true
      });
    });
    $(function() {
        $('#end_time_<%=parlo.id%>').datetimepicker({
          pickDate: false,
          pick12HourFormat: true
        });
      });
    $("#chosen-select_<%=parlo.id%>").chosen({width: "251px"}); 
  </script>
  <%end%>
  </ul>
 </div>
</div>
</div>
  <script type="text/javascript">
  $(".toltip_info").on("mouseover",function(){
    $(this).tooltip('show');
  });
  </script>








