<h1>Sistema control salitas</h1>
<%@parlos.each do |parlo|%>
<a href="#" id="modal_views_reservations_<%=parlo.id%>">
<div class="span4" style="border:1px solid red;margin-top:20px;text-align:center;background-color:#CD5454;">
<h4><%=parlo.name_parlo%></h4>
	<h5>Disponible</h5>
</div>
</a>
<!-- MODAL FORMULARIO RESERVACIONES -->
<div id="modal_reservation_parlo_<%=parlo.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Reservatios <%=parlo.name_parlo%></h3>
  </div>
  <div class="modal-body">
    <%= form_for(@reservation,html:{class: 'form-horizontal'},:url=>welcome_create_reservation_path,method: "post") do |f| %>
    <input type="hidden" name="reservation[parlo_id]" id="reservation_parlo_id" value="<%=parlo.id%>">
    <div class="control-group">
      <%= f.label :employee,class: 'control-label' %>
      <div class="controls">
        <%= f.select :employee_id, Employee.all.collect {|p| [ p.name, p.id ] }, { include_blank: true } %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :status,class: 'control-label' %>
      <div class="controls">
        <%= f.number_field :status %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :date_reservation,class: 'control-label' %>
      <div class="controls">
        <%= f.date_field :date_reservation %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :start_time,class: 'control-label' %>
      <div class="controls">
        <%= f.time_field :start_time %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :end_time,class: 'control-label' %>
      <div class="controls">
        <%= f.time_field :end_time %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Save Shanges',class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
   <% end %>
</div>
<!-- FIN MODAL FORMULARIO RESERVACIONES -->
<script type="text/javascript">
	$('#modal_views_reservations_<%=parlo.id%>').on('click',function(e){
	 e.preventDefault();
	 $('#modal_reservation_parlo_<%=parlo.id%>').modal('show');
	});
</script>
<%end%>

