<p>numero reservaciones salita <b><%=@reservation_for_parlo.size%></b></p>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Id Salita</th>
			<th>Nombre Salita</th>
			<th>Nombre Empleado</th>
			<th>Status</th>
			<th>Inicio</th>
			<th>Final</th>
			<th>Reservations</th>
		</tr>
	</thead>
	<tbody>
		<%@reservation_for_parlo.each do |reservation_parlo| %>
		<tr>
			<td><%=reservation_parlo.id%></td>
			<td><%=reservation_parlo.parlo.name_parlo%></td>
			<td><%=reservation_parlo.employee.name%></td>
			<td><%=reservation_parlo.status%></td>
			<td><%=reservation_parlo.start_time.strftime("%I:%M %p")%></td>
			<td><%=reservation_parlo.end_time.strftime("%I:%M %p")%></td>
			<td><%=reservation_parlo.created_at.strftime("%d-%b-%Y")%></td>
		</tr>
		<%end%>
	</tbody>
</table>