<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Sistemas Control Salitas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistemas control de salitas">
    <meta name="author" content="Programador Juan Alexander Rodriguez">
    <!-- Le styles -->
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <!-- stilos bootstrap -->
        <%= stylesheet_link_tag "/assets/stylesheets/bootstrap.min" %>
        <%= stylesheet_link_tag "/assets/stylesheets/DT_bootstrap" %>
        <%= stylesheet_link_tag "/assets/stylesheets/bootstrap-datetimepicker.min" %>
        <%= stylesheet_link_tag "/assets/stylesheets/chosen.min"%>
        <!-- scripts --> 
        <%= javascript_include_tag "/assets/javascripts/bootstrap.min" %>
        <%=javascript_include_tag "/assets/javascripts/chosen.jquery.min" %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <%= stylesheet_link_tag "/assets/stylesheets/bootstrap-responsive.min" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>
  <body>
    <!-- ////////////////////////////////////////////// -->
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Searchjosbca</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <%if current_admin.admin_type==1%>
                <li class="<%=@active_home%>"><%=link_to "<i class='icon-home icon-white'></i>&nbsp;Home".html_safe,welcome_index_path%></li>
                <li class="<%=@active_employees%>"><%=link_to "<i class='icon-briefcase icon-white'></i>&nbsp;Agregar Empleado".html_safe,employees_path%></li>
                <li class="<%=@active_parlos%>"><%=link_to "<i class='icon-book icon-white'></i>&nbsp;Agregar Salita".html_safe, parlos_path%></li> 
                <li class="<%=@active_reservaciones%>"><%=link_to "<i class='icon-list-alt icon-white'></i>&nbsp;Reservasiones".html_safe,reservations_path%></li>
                <li class="<%=@active_admins%>"><%=link_to "<i class='icon-user icon-white'></i>&nbsp;Usuarios".html_safe,admins_path%></li>
              <%else%>
                <li class="<%=@active_home%>"><%=link_to "<i class='icon-home icon-white'></i>&nbsp;Home".html_safe,welcome_index_path%></li>
                <li class="<%=@active_reservaciones%>"><%=link_to "<i class='icon-list-alt icon-white'></i>&nbsp;Reservasiones".html_safe,reservations_path%></li>
              <%end%>
            </ul>
          <div class="pull-right">
            <ul class="nav pull-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%=current_admin.name%><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-cog"></i> Preferences</a></li>
                        <li><a href="#"><i class="icon-envelope"></i> Contact Support</a></li>
                        <li class="divider"></li>
                        <li><%=link_to "<i class='icon-off'></i> Logout".html_safe,destroy_admin_session_path, :method=>:delete%></li>
                    </ul>
                </li>
            </ul>
          </div>
          <!--   <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form> -->
          </div>
     </div>
      </div>
    </div> 
    <div class="container">
    <%=render :partial=>"/partials/notices" %>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <!-- Example row of columns -->
      <div class="row">
        <%=yield%>
      </div>
      <hr>
      <footer>
        <p>&copy; SISTEMA SALITAS <%=Date.today.year%></p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <%= javascript_include_tag "/assets/javascripts/jquery.dataTables.min"%>
   <%= javascript_include_tag "/assets/javascripts/DT_bootstrap" %>
   <%= javascript_include_tag "/assets/javascripts/scripts" %>
   <%= javascript_include_tag "/assets/javascripts/bootstrap-datetimepicker.min" %>
  </body>
</html>
